.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #094161;
  padding: 15px 8%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 55px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #66d3ff;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: #094161;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }
}